.bg-primary-o {
  background-color: rgba($primary, 0.8);
}

.img-fit-cover{
  @include img-object-fit(cover);
}

.img-fit-contain{
  @include img-object-fit(contain);
}

.h-480 {
  height: 480px;
}

.h-350 {
  height: 350px;
}

.mh-350 {
  min-height: 350px;
}

.z-index-back {
  z-index: -1;
}


@include media-breakpoint-up(md) {
  .fs-md-6{
    font-size: $h5-font-size !important;
  }
}

@include media-breakpoint-down(sm) {
  .m-xs--1 {
    margin: $container-padding-x * -1 !important;
  }

  .w-xs-50 {
    width: 50%;
  }
}
