<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="header container py-7 border-1">
      <div class="row">
        <div class="col-3"></div>
        <h1 class="col-6 text-primary text-center">EXHIBINECTION</h1>
        <ul class="col-3 d-flex justify-content-between">
          <li><button>Sign in</button></li>
          <li><button>Sign up</button></li>
          <li>
            <button>
              <span class="material-icons text-dark">
                savings
              </span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                3
              <span class="visually-hidden">shopping bag</span>
              </span>
            </button>
          </li>
        </ul>
      </div>
    </header>

    <%- contents %>

    <footer class="footer">
      footer
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>