<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="header container py-7 border-1">
      <div class="row align-items-center">
        <a class="offset-3 col-6" href="index.html"><h1 class="fs-2 text-primary text-center mb-0">EXHIBINECTION</h1></a>
        <ul class="col-3 d-flex justify-content-end align-items-center mb-0">
          <li class="d-md-block d-none me-lg-8 me-sm-2"><a class="link" href="#">Sign in</a></li>
          <li class="d-md-block d-none me-lg-8 me-sm-2"><a class="link" href="#">Sign up</a></li>
          <li>
            <button class="btn position-relative p-0 lh-1">
              <span class="material-icons text-dark">
                savings
              </span>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                3
                <span class="visually-hidden">shopping bag</span>
              </span>
            </button>
          </li>
        </ul>
      </div>
    </header>

    <%- contents %>

    <footer class="footer">
      <section class="footer-ad p-md-9">
        <div class="container row h-100 align-items-end mx-auto">
          <div class="col-lg-4 col-md-8 col-12 mb-md-0 mb-9">
            <h2 class="text-white fs-8 mb-3 lh-base">想收到最新消息嗎？<br/>快訂閱我們！</h2>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="輸入您的電子信箱">
              <button class="btn btn-secondary px-10">訂閱</button>
            </div>
          </div>
        </div>
      </section>
      <section class="container d-flex justify-content-between py-7">
        <div class="d-flex align-items-md-end flex-md-row flex-column flex-row-md">
          <a href="index.html"><h6 class="fs-4 me-4 mb-0">EXHIBINECTION</h6></a>
          <small class="fs-7">© 2020. All Rights Reserved.</small>
        </div>
        <ul class="d-flex mb-0 p-0 d-none d-md-flex">
          <li><a class="link me-6">Sign in</a></li>
          <li><a class="link">Sign up</a></li>
        </ul>
      </section>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>